<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>faceRecognition.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>064CEB331F1E40370049148C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>064CEB4C1F1E40380049148C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>064CEB571F1E40380049148C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
